@model ConstructionPlanning.WebApplication.Models.Delivery.DeliveryEditViewModel

@{
    ViewData["Title"] = "Редактирование поставки";
}

<h1>Редактирование поставки</h1>

<h4>Поставка</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" hidden/>
            <div class="form-group row">
                <label asp-for="ProviderId" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <select asp-for="ProviderId" class="form-control" asp-items="ViewBag.Providers">
                    </select>
                    <div class="text-center">
                        <span asp-validation-for="ProviderId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ResourceId" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <select asp-for="ResourceId" class="form-control" asp-items="ViewBag.Resources">
                    </select>
                    <div class="text-center">
                        <span asp-validation-for="ResourceId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Date" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Date" class="form-control" type="datetime-local" />
                    <div class="text-center">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="UnitCost" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="UnitCost" class="form-control" />
                    <div class="text-center">
                        <span asp-validation-for="UnitCost" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Count" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Count" class="form-control" />
                    <div class="text-center">
                        <span asp-validation-for="Count" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <a asp-action="Index" class="btn btn-secondary float-left">Назад</a>
                </div>
                <div class="col">
                    <input type="submit" value="Редактировать" class="btn btn-primary float-right" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
